---
layout: ""
page_title: "Provider: Aidbox"
description: |-
The Aidbox provider provides resources to interact with Aidbox FHIR server.
---

# Aidbox Provider

The Aidbox provider provides resources to interact with [Aidbox FHIR server](https://www.health-samurai.io/aidbox).

This provider is unofficial and is not endorsed or maintained by the aidbox developers.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}