services:
  database-devbox:
    image: postgres:17
    ports:
      - "5437:5432"
    environment:
      POSTGRES_USER: aidbox
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: aidbox
      POSTGRES_PORT: "5432"
  devbox:
    depends_on:
      - database-devbox
    image: "healthsamurai/aidboxone@sha256:ba99f11fadec5da1e4a69ee51845b22a5392793d67c1bee19078a837512ee6bd" # :edge, Sep 30, 2025 at 11:57 am
    ports:
      - "8888:8888"
    environment:
      PGHOST: "database-devbox"
      AIDBOX_LICENSE: "${AIDBOX_LICENSE:?err}"
      AIDBOX_CLIENT_ID: "root"
      AIDBOX_CLIENT_SECRET: "secret"
      AIDBOX_ADMIN_ID: "admin"
      AIDBOX_ADMIN_PASSWORD: "secret"
      AIDBOX_PORT: "8888"
      AIDBOX_FHIR_PACKAGES: hl7.fhir.r3.core#3.0.2
      AIDBOX_FHIR_SCHEMA_VALIDATION: true
      AIDBOX_CREATED_AT_URL: https://aidbox.app/ex/createdAt
      PGUSER: aidbox
      PGPASSWORD: secret
      PGDATABASE: aidbox
      PGPORT: "5432"
    healthcheck:
      test: "curl -f http://localhost:8888/health"
      interval: 10s
      retries: 12
